h1  {
    margin-left:1rem;
}

ul li {
    list-style: none;
    list-style-type: none;
    margin-top: .5em;
    margin-bottom: .75em;
    align-items:center;
    font-size:1.25rem;
}

ul li button.delete {
    margin-left:4em;
    border-width:0px;
}



input.check {
    float: left;
    display: inline;
    text-align:left;
    margin-right: 2em;
    margin-top: .5em;
    width: 1.25rem;
    height: 1.25rem;
}