h1  {
    margin-left:1rem;
}

ul li {
    list-style: none;
    list-style-type: none;
    margin-top: .5em;
    margin-bottom: .75em;
    align-items:center;
}

ul li button.delete {
    margin-left:1em;
    text-align:right;
}



input.check {
    float:left;
    display:inline-block;
    margin-right:2em;
    margin-top:.5em;
}